p_htmlexport_xsl_file RCDATA "HtmlExport.xsl"
p_textexport_xsl_file RCDATA "TextExport.xsl"
p_styles_css_file     RCDATA "styles.css"
p_achtung_icon_file   RCDATA "images\achtung.bmp"
p_addfolder_icon_file RCDATA "images\addfolder.bmp"
p_amassoc_icon_file   RCDATA "images\amassoc.jpg"
p_amazon_icon_file    RCDATA "images\amazon.bmp"
p_bulb_icon_file      RCDATA "images\bulb.bmp"
p_delfolder_icon_file RCDATA "images\delfolder.bmp"
p_folder_icon_file    RCDATA "images\folder.bmp"
p_ikoni_icon_file     RCDATA "images\ikoni.ico"
p_info_icon_file      RCDATA "images\info.bmp"
p_noproduct_icon_file RCDATA "images\NoProduct.jpg"
p_page_icon_file      RCDATA "images\page.bmp"
p_settings_icon_file  RCDATA "images\settings.bmp"
p_shop_icon_file      RCDATA "images\shop.bmp"
p_splash_file         RCDATA "images\splash.jpg"
p_star_icon_file      RCDATA "images\star.bmp"
p_treeview_icon_file  RCDATA "images\treeview.bmp"
